@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #271F80;
    --header-text: #FFCCF1;
    --bg-color:  #B6BDFF;
    --dark: #271F80;

}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Inconsolata', monospace;

}

header {
    padding-top: 20px;
    padding-bottom: 35px;
    background-color: var(--dark);
    color: var(--header-text);
    --mask: 
    linear-gradient(to top,#0000 14px,#000 0),
    radial-gradient(14px,#000 98%,#0000) bottom/25.90px 28px;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

header .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


nav ul {
    
}

nav li {
    list-style: none;
    background-color: var(--dark);
    padding-left: 50px;
}

nav a {
    color: var(--header-text);
    text-decoration: none;
    font-size: 2rem;
    line-height: 2;
}

nav li:hover {
    background-color: rgba(255, 182, 193, 0.249);
}

.menu {
    display: none;
}

.toggleBtn {
    color: var(--header-text);
}

main {
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

section {
    width: 60%;
    height: 80vh;
    margin: auto;
    margin-top: 50px;
}

section#about {
}

footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: beige;
}

@media only screen and (min-width: 768px) {

    .menu{
       display:block;
    }
     
    .toggleBtn{
        display: none;
    }

    #top {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 25px;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
    }

    nav li {
        padding-left: 5px;
    }
    
    nav a {
        color: var(--header-text);
        text-decoration: none;
        font-size: 1.5rem;
        line-height: 1;
    }

    section#about {
        display: flex;
        flex-direction: row;
    }
        section#about img {
            flex-grow: 1;
        }
    
        .about-text-large {
            flex-grow: 4;
        }

}