
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #271F80;
    --header-text: #FFCCF1;
    --bg-color:  #d8bdc8;
    --dark: #3d4c9f;
    --accent: #e6d7e2;

}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: monospace;

}


header {
    padding-top: 20px;
    padding-bottom: 35px;
    background-color: var(--dark);
    color: var(--header-text);
    --mask: 
    linear-gradient(to top,#0000 14px,#000 0),
    radial-gradient(14px,#000 98%,#0000) bottom/25.90px 28px;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

header .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header a:visited,
header a {
    color: var(--header-text);
    text-decoration: none;
}

nav ul {
    
}

nav li {
    list-style: none;
    background-color: var(--dark);
    padding-left: 50px;
}

nav a {
    color: var(--header-text);
    opacity: 0.75;
    text-decoration: none;
    font-size: 2em;
    line-height: 2;
}

nav li:hover {
    background-color: rgba(255, 182, 193, 0.249);
}

.menu {
    display: none;
}

.toggleBtn {
    color: var(--header-text);
}

main {
    width: 100%;
    height: 100%;
}

section {
    width: 80%;
    height: 80%;
    margin: 20px auto;
}

section#bio h1,
section#projects h1{
    font-size: 3em;
    font-weight: 200;
    text-align: center;
    border-bottom: 2px dotted var(--dark);
    margin-top: 40px;
    margin-bottom: 40px;
    
}

section#home {
    display: flex;
    flex-direction: column;
}

#about {
    text-align: center;
    font-style: italic;
}
    #about h1 {
        font-size: 3em;
    }
    #about h2 {
        font-size: 2.5em;
        font-weight:300;
    }
    #about img {
        max-width: 70%;
    }
    hr {
        border: 2px dashed var(--dark);
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #subtitle {
        text-align: center;
        font-size: 1.5em;
    }

footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20%;
}

#project-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 50px;
}

.project-card {
    display: flex;
    flex-direction: column;
    border-bottom: 10px solid var(--dark); 
}

    .project-card h3 {
        font-size: 3em;
    }

    .project-card img {
        opacity: 0.75;
    }

    .project-info {
        background-color: var(--accent);
        padding: 20px;
    }

    .project-card ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 20px;
    }


@media only screen and (min-width: 768px) {
    section {
        width: 70%;
    }

    .menu{
       display:block;
    }
     
    .toggleBtn{
        display: none;
    }

    #top {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 40px;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav li {
        margin-left: 20px;
        padding: 5px;
    }
    
    nav a {
        color: var(--header-text);
        text-decoration: none;
        font-size: 1.5em;
        line-height: 1;
    }

    #about {
        margin-top: 5%;
        display: flex;
        text-align:left;
    }
        #about h1 {
            font-size: 5em;
        }
        #about h2 {
            font-size: 4.25em;
            margin-left: 20px;
        }


        #project-list {
            display: flex;
            flex-direction: column;
            row-gap: 0px;
        }
    
        .project-card {
            border-bottom: none;
        }
            .project-card img {
                z-index: 1;
            }
    
            .project-info {
                position: relative;
                z-index: 2;
                top: -100px;
                right: -50px;
                box-shadow: 10px 10px 0px 0px var(--dark);
                -webkit-box-shadow: 10px 10px 0px 0px var(--dark);
                -moz-box-shadow: 10px 10px 0px 0px var(--dark);
            }
            .project-info h3 {
            }

}

@media only screen and (min-width: 1024px) {
    #project-list {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    .project-card {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        align-items: center;
        font-size: 1em;
    }
        .project-card img {
            position: relative;
            right: -80px;
            z-index: 1;
            flex: 3 1 0;
        }

        .project-info {
            padding: 30px;
            z-index: 2;
            flex: 2 2 0;
            top: 0px;
            bottom:0px;
            right: 0px;
            left: 0px;
        }
        .project-info h3 {
            font-size: 2em;
        }
    
}
